



.centerForm
{
    text-align: center !important;
    /* background-color: orangered; */
}

.card_body
{
    background-color: #36454F ;
}
.Card
{
    display: inline-block;
    width: 65%;
}






