body
{
    font-family: "Lucida Console", Sertig;
}

.grid_container
{
  display: grid;
  row-gap: 59px;
}

.hrColor
{
    /* background-color: rgb(144, 228, 19); */
    background-color: #ABDF57;
    width: 50%;
    height: 0.25rem;
    margin-left: 25%;
    margin-right: 25%;

    border: 1px solid black;
    border-radius: 10px;
}

.background
{
    background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6) ) ,
    url("../images/mountain.jpg");

    /* background-image: url("../images/mountain.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;

    -webkit-background-size: 100% auto;

    -moz-background-size: 100% auto;

    -ms-background-size: 100% auto;

    -o-background-size: 100% auto;

    background-size: 100% auto;

    color: aliceblue;

}


