body {
    background-image: url("../images/pexels-photo-galaxy.jpeg");
    background-repeat: no-repeat;
    /* background-size: contain; */

    /* -webkit-background-size: 100% auto;

    -moz-background-size: 100% auto;

    -ms-background-size: 100% auto;

    -o-background-size: 100% auto;

    background-size: 100% auto; */

    color: aliceblue;

    font-family: "Lucida Console", Sertig;
}


